{% extends "base.html" %}

{% block title %}
  {{ supplier.name }}'s profile
{% endblock %}

{% block content %}

    <div class="content-section">
        <div class="media">
            {# <img class="rounded account-img" src="#" alt="{{ supplier.name }}"> #}
            <div class="media-body">
            <h2 style="color:#ea2088;" class="account-heading">{{ supplier.name }}</h2>
            <p class="fal">
                Phone no        : {{ supplier.phone }} <br>
                Email Id        : {{ supplier.email }} <br>
            </p>
            </div>
        </div>
    </div>

    <table class="table table-css">
        
        <br>
        
        <thead class="thead-inverse">
            <tr>
                <th width="15%">Bill No</th>
                <th width="35%">Stocks Purchased</th>
                <th width="25%">Quantity Purchased</th>
                <th width="25%">Purchased (Date and Time)</th>
            </tr>
        </thead>
      
        <tbody>
            {% for purchase in bills %}
            <tr>
                <td>
                    <h3> <a href="#">{{ purchase.billno }}</a> </h3>
                </td>
                <td class="align-middle">{% for item in purchase.get_items_list %} <a href="#">{{ item.stock.name }}</a> <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>          
                <td class="">{{ purchase.time }}</td>          
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% endblock content %}