{% extends "base.html" %}


{% block title %}
  {{ supplier.name }}'s profile
{% endblock %}


{% block content %}

    <div class="content-section">
        <div class="media">
            <div class="media-body">
            <h2 style="color:#ea2088;" class="account-heading">{{ supplier.name }}</h2>
            <p class="fal">
                Phone no        : {{ supplier.phone }} <br>
                Email Id        : {{ supplier.email }} <br>
            </p>
            </div>
        </div>
    </div>

    <table class="table table-css">
        
        <br>
        
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="10%">Bill No</th>
                <th width="15%">Stocks Purchased</th>
                <th width="15%">Quantity Purchased</th>
                <th width="15%">Total Purchased Price</th>
                <th width="15%">Purchased Date</th>
                <th width="30%">Options</th>
            </tr>
        </thead>
      
        <tbody>
            {% for purchase in bills %}
            <tr>
                <td class="align-middle"> <h3>{{ purchase.billno }}</h3> </td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>     
                <td class="align-middle">{{ purchase.get_total_price }}</td>
                <td class="align-middle">{{ purchase.time.date }}</td>
                <td class="align-middle"> <a href="{% url 'purchase-bill' purchase.billno %}" class="btn ghost-pink">View Bill</a> <a href="{% url 'delete-purchase' purchase.pk %}" class="btn ghost-red">Delete Bill</a> </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock content %}