<head>
    
    <link rel="stylesheet" href="bill.css">

    <title> Purchase/Sale Bill No - </title>

</head>

<body>
    
    <div id="printArea">

        <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
            <tbody>
                
                <tr style="height: 1px;">
                    <td style="height: 1px;"> <p style="text-align: center;">TAX INVOICE</p> </td>
                </tr>
                
                <tr style="text-align: center; height: 76px;">
                    <td style="height: 76px;">
                        <p> <br>
                            <span style="font-size: 350%;">Company</span> <br>
                            <span style="font-size: 120%; font-weight: bold; text-decoration: underline;">DEALERS IN : Products</span> <br>
                            <span style="text-decoration: underline; font-weight: bold;">REGD ADDRESS :</span> Address Line 1<br>Address line 2<br>
                            <span style="text-decoration: underline; font-weight: bold;">EMAIL : email</span> <br><br>
                        </p>
                        
                    </td>
                </tr>
                
                <tr>
                    <td>
                    <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                        <tbody>
                            <tr>
                                <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">GSTIN NO - 123456789ABCDEF</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;NAME OF CONSIGNEE / BUYER</td>
                                <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;INVOICE NO</td>
                                <td class="inner-box" style="width: 25%;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="width: 50%;" rowspan="4">&nbsp;</td>
                                <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DATE</td>
                                <td class="inner-box" style="width: 25%;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;EWAY NO</td>
                                <td class="inner-box" style="width: 25%;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VEH NO</td>
                                <td class="inner-box" style="width: 25%;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DESTINATION</td>
                                <td class="inner-box" style="width: 25%;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="font-weight: bold;">&nbsp;GSTIN NO : </td>
                                <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;PO NO &amp; DATE</td>
                                <td class="inner-box" style="width: 25%;" >&nbsp;</td>
                            </tr>
                        </tbody>
                    </table style="width: auto; margin-left: auto; margin-right: auto;">
                    </td>
                </tr>
                
                <tr>
                    <td>
                    <table class="outer-box" style="width: auto; margin-left: auto; margin-right: auto;">
                        <tbody>
                            <tr>
                                <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL NO</td>
                                <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">DESCRIPTION OF THE GOODS</td>
                                <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp;HSN/SAC</td>
                                <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTY MTS</td>
                                <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">RATE PMT</td>
                                <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">AMOUNT INRS</td>
                                <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">PS</td>
                            </tr>
                            <tr style="height: 200px;">
                                <td class="inner-box" style="width: 5%;">&nbsp;</td>
                                <td class="inner-box" style="width: 30%;">&nbsp;</td>
                                <td class="inner-box" style="width: 12%;">&nbsp;</td>
                                <td class="inner-box" style="width: 12%;">&nbsp;</td>
                                <td class="inner-box" style="width: 12%;">&nbsp;</td>
                                <td class="inner-box" style="width: 12%;">&nbsp;</td>
                                <td class="inner-box" style="width: 5%;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table class="outer-box">
                    </td>
                </tr>
                
                <tr>
                    <td>
                    <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                        <tbody>
                            <tr>
                                <td class="inner-box" style="width: 35%; text-align: center;" rowspan="6">
                                    <p> <span style="font-weight: bold;">BANK DETAILS <br> company</span> <br>
                                        bank name <br> AC NO-000 000 000 000 000 <br> IFSC CODE - ABCD 000 0000 <br> BRANCH <br> PH NO - 0123456789</p>
                                </td>
                                <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp;CGST @ 2.5%</td>
                                <td class="inner-box" style="width: 30%;">&nbsp;</td>
                                <td class="inner-box" style="width: 5%;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="font-weight: bold;">&nbsp;SGST @ 2.5%</td>
                                <td class="inner-box">&nbsp;</td>
                                <td class="inner-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="font-weight: bold;">&nbsp;IGST @ 5% </td>
                                <td class="inner-box">&nbsp;</td>
                                <td class="inner-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="font-weight: bold;">&nbsp;CESS @ 400/PMT </td>
                                <td class="inner-box">&nbsp;</td>
                                <td class="inner-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="font-weight: bold;">&nbsp;TCS @ 1%</td>
                                <td class="inner-box">&nbsp;</td>
                                <td class="inner-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="inner-box" style="font-weight: bold;">&nbsp;TOTAL</td>
                                <td class="inner-box">&nbsp;</td>
                                <td class="inner-box">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>

                <tr>
                    <td style="text-align: right;">
                        <span style="font-weight: bold;">FOR COMPANY <br><br><br><br> Signature</span>
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center;">
                        FINAL TEXT
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <br><br>

    <div class="wrapper">
        <button class="center" onclick="printpage('printArea')">Print</button>
        <a href="#"> <button class="center">Go back</button> </a>
    </div>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

</body>