{% load static %} <!-- Used to load css and other static data -->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">    
    
    <title>Raj Minerals - {% block title %}Title Missing{% endblock %}</title>

</head>

<body>

    <header class="site-header">
        {# {% if user.is_authenticated %} #}
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand titlefont mr-4" href="{% url 'home' %}">Raj Minerals</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'inventory' %}">Inventory</a>
                        <a class="nav-item nav-link" href="#">Purchases</a>
                        {#  <a class="nav-item nav-link" href="{% url 'about' %}">About</<a>  #}
            
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            <div class="collapse navbar-collapse" id="navbarToggle">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                            {% if request.user.is_superuser %}
                                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Page</a>
                                            {% endif %}
                                            <div class="dropdown-divider"></div> 
                                            <a class="dropdown-item" href="">Log Out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="the-blur"></div>
        {# {% endif %} #}
    </header>
    
    <br><br><br>
    
    <main role="main" class="container">
        {% if messages %}
            {% for message in messages %}
                <br>
                <div class="alert alert-{{ message.tags }}">         
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block heading %}{% endblock %}

        {% block content %}{% endblock %}
    </main>    
        
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!--
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}" ></script>
    <script src="{% static 'bootstrap.min.js' %}" ></script>
    -->

</body>
</html>