{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Inventory List {% endblock title %}


{% block content %}
    
    <table class="table table-css"><div style="color: #ea2088; font-style: bold; font-size: 3rem;">Inventory List</div>
        
        <form method="get">
            <div class="input-group search">
                {% render_field filter.form.name class="form-control textinput" placeholder="Search by stock name" %}
                <div class="input-group-append">
                   <button type="submit" class="btn btn-pink"> Search </button>
                </div>
            </div>
        </form>

        <br>
        
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="50%">Stock Name</th>
                <th width="20%">Current Stock in Inventory</th>
                <th width="30%">Options</th>
            </tr>
        </thead>
                  
{% if filter.qs %}

        <tbody>         
            {% for stock in filter.qs %}
                <tr>
                    <td>
                        <h4>{{ stock.name }}</h4>
                    </td>
                    <td class="align-middle">{{ stock.quantity }}</td>
                    <td class="align-middle">
                        <a href="{% url 'edit-stock' stock.pk %}" class="btn ghost-button">Edit Details</a>
                        <a href="{% url 'delete-stock' stock.pk %}" class="btn ghost-red"> Delete Stock </a>
                    </td>          
                </tr>
            {% endfor %}                   
        </tbody>

    </table>  

{% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>

{% endif %}

{% endblock content %}