{% extends "base.html" %}


{% block title %} Inventory {% endblock %}


{% block heading %}

    <!--
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Item</li>      
    </ol>
    -->

{% endblock %}


{% block content %}
                
    <form method="post">

        {% csrf_token %}

        {# TODO: add css highlighting effects #}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}

        {% comment %}

        <div class="form-group">
            <label for="id_stock">Stock Name</label>
            <input type="text" class="textinput form-control" id="id_stock" name="name">
        </div>
    
        <div class="form-group">
            <label for="id_type">Type</label>
            <!--supposed to show list-->
        </div>

        <div class="form-group">
            <label for="id_desc">Description</label>
            <textarea class="textinput form-control" id="id_desc" name="desc"></textarea>
        </div>

        <div class="form-group">
            <label for="id_quantity">Current Quantity in Inventory</label>
            <input type="text" class="textinput form-control" id="id_quantity" name="quantity">
        </div>

        {% endcomment %}

        <button type="submit" class="ghost-green">Add to Inventory</button>

    </form>

{% endblock %}