{% extends "base.html" %}

{% load widget_tweaks %}

{# TODO: add filters and display more detail #}
{% block title %} Purchases List {% endblock title %}


{% block content %}
    
    <table class="table table-css"><div style="color: #ea2088; font-style: bold; font-size: 3rem;">Purchases List</div>
        
        <br>
        
        <thead class="thead-inverse">
            <tr>
                <th width="10%">Bill No</th>
                <th width="20%">Supplier</th>
                <th width="25%">Stocks Purchased</th>
                <th width="20%">Quantity Purchased</th>
                <th width="25%">Purchased (Date and Time)</th>
            </tr>
        </thead>
      
        <tbody>
            {% for purchase in bills %}
            <tr>
                <td>
                    <h3> <a href="{% url 'purchase-bill' purchase.billno %}">{{ purchase.billno }}</a> </h3>
                </td>
                <td class=""> <a href="{% url 'supplier' purchase.supplier.name %}">{{ purchase.supplier }}</a> <br> <small style="color: #909494">Ph No : {{ purchase.supplier.phone }}</small> </td>
                <td class="align-middle">{% for item in purchase.get_items_list %} <a href="#">{{ item.stock.name }}</a> <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>          
                <td class="">{{ purchase.time }}</td>          
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock content %}