{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Purchases List {% endblock title %}


{% block content %}
    
    <table class="table table-css"><div style="color: #ea2088; font-style: bold; font-size: 3rem;">Purchases List</div>
        
        <br>
        
        <thead class="thead-inverse">
            <tr>
                <th width="10%">Bill no</th>
                <th width="25%">Supplier</th>
                <th width="25%">Stock</th>
                <th width="20%">Quantity purchased</th>
                <th width="20%">Purchased</th>
            </tr>
        </thead>
      
        <tbody>
            {% for purchase in object_list %}
            <tr>
                <td>
                    <h4> <a href="#">{{ purchase.billno }}</a> </h4>
                </td>
                <td class="align-middle">{{ purchase.supplier }}</td>
                <td class="align-middle">{{ purchase.stock }}</td>
                <td class="align-middle">{{ purchase.quantity }}</td>          
                <td class="align-middle">{{ purchase.time }}</td>          
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock content %}