{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #ea2088; font-style: bold; font-size: 3rem;">Invi</div>
    <div class="align-middle" style="color: #fff">An Inventory Management System</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ea2088">| About |</h3> <br>
            <p>
                Invi is a simple inventory management software created for the requirements of a company.
                The software is capable of keeping track of incoming and outgoing stock with a dynamically rendered bill. 
                Each supplier is provided with a profile where they can see the history of their transactions with the company.
            </p>
        <br>
    </div>
        <h2 style="color:#ea2088" class="align-middle">| Features |</h3> <br>
            <ul style="display:table; margin:0 auto;">                
                <li>Interactive Chart to display current available stock</li>
                <li>Stock details like current available stock are maintained</li>
                <li>Incoming transactions are done through purchases</li>
                <li>Outgoing transactions are done through sales</li>
                <li>Every transaction performed through the software is recorded</li>
                <li>Bill is dynamically rendered and can be printed</li>
                <li>Separate profiles are maintained for suppliers</li>
            </ul>  
        <br>
    <div class="align-middle">
        <h2 style="color:#ea2088" >| Developer |</h3> <br>
            <a target="_blank" href="https://github.com/akashroshan135" >Akash Roshan</a>
            <br><br><br>
    </div>

{% endblock content %}